*{
    margin: 0;
    padding: 0;
    border:0;
    -webkit-text-size-adjust:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -moz-user-select: -moz-none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
img{
    border: 0;
    width: 100%;
    height: auto;
}

body {
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  min-width: 320px;
  max-width: 1024px;
}
a:hover{
    cursor: pointer;
}
.hoverChange{
    background-color:#01AEF0 ;
}
.hoverChange:hover{
    background-color: #FFA800;
}
#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    animation:myfirst 0.5s linear infinite;
    -moz-animation:myfirst 0.5s linear infinite; /* Firefox */
    -webkit-animation:myfirst 0.5s linear infinite; /* Safari and Chrome */
    -o-animation:myfirst 0.5s linear infinite; /* Opera */
}
@keyframes myfirst
{
    from{ transform:rotate(0deg); /* Safari and Chrome */ }
    to{  transform:rotate(360deg); /* Safari and Chrome */}
}

@-moz-keyframes myfirst /* Firefox */
{
    from{ transform:rotate(0deg); /* Safari and Chrome */ }
    to{  transform:rotate(360deg); /* Safari and Chrome */}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from{ transform:rotate(0deg); /* Safari and Chrome */ }
    to{  transform:rotate(360deg); /* Safari and Chrome */}
}

@-o-keyframes myfirst /* Opera */
{
    from{ transform:rotate(0deg); /* Safari and Chrome */ }
    to{  transform:rotate(360deg); /* Safari and Chrome */}
}
/*
#std{
   position: absolute; 
   z-index: 0;
   opacity: 1; 
}*/
#section3{
   margin-top: -1px;
   display: none;
}
#img1_1{
   position: absolute;
   left: 3%;
   top: 6.5%;
   max-width: 68.5%;
   opacity:0;
}
#img1_2{
   position: absolute;
   left: 3%;
   top: 44%;
   max-width: 52%;
   opacity:0;
}
#img1_3{
   position: absolute;
   bottom: 4.9%;
   left: 3%;
   max-width: 28%; 
   opacity:0;
}

#img1_4{
    position: absolute;
    left: 60%;
    top: 24%;
    max-width: 54%;
    opacity:0;
}

#cover,#start,#in1{
    padding-bottom: 78%;
}
#tablet{
    padding-bottom: 80%!important;
}
#laptop{
    padding-bottom: 108%!important;
}
#choosePC{
    padding-bottom: 95%!important;
}
#inner1,#inner2{
    padding-bottom: 24.2%!important;
}
#tabletlist{
    padding-bottom: 44%!important;
}
#laptoplist{
    padding-bottom: 49%!important;
}
#in1D{
    padding-bottom: 50%!important;
}
#allinonelist{
    padding-bottom: 50%!important;    
}
#desktoplist{
    padding-bottom: 54%!important;   
}
#list2{
    padding-bottom: 239%!important;
}
#openafter{
    display: none;
}
#img2_1{
    position: absolute;
    left: 3%;
    top: 11%;
    max-width: 67%;
    opacity:0;
}
#img2_2{
    position: absolute;
    left: 3%;
    top: 26.2%;
    max-width: 68.9%;
    opacity:0;
}
.circle{
    max-width: 52%;
    margin: 0 auto;
    margin-bottom: 4%;
}
#img2_3_1{
    display: none;
}
#img2_5_1{
    display: none;
}
#img2_4{
    background-color: #348FD4;
}
#img2_6{
    background-color: #01AEF0;
}
.for{
    position: absolute;
    bottom: 6.6%;
}
#foronthego{
    left: 7%;
    right: 53.5%;
    opacity:0;
}
#forhome{
    right: 8%;
    left: 52.5%;
    opacity:0;
}
#img3_1{
    position: absolute;
    left: 4%;
    top: 6%;
    max-width: 83.5%;
    opacity:0;
}
#img3_2{
    position: absolute;
    top: 19.1%;
    left: 4.5%;
    max-width: 75.5%;
    opacity:0;
}
#img3_3{
    position: absolute;
    left: -3.5%;
    top: 39.7%;
    max-width: 57%;
    opacity:0;
}
#choosetablet{
    position: absolute;
    top: 39%;
    left: 53%;
    right: 7.5%;
    opacity:0;
}

#not{
    position: absolute;
    top: 53%;
    bottom: 36.5%;
    left: 53%;
    right: 7.5%;
    opacity:0;
}
#img3_4{
    max-width: 100%;
}
#img3_5{
    max-width: 100%;
}
#img4_1{
    position: absolute;
    left: 3%;
    top: 5%;
    max-width: 80%;
}
#img4_2 {
    position: absolute;
    top: 22.5%;
    left: 3.8%;
    max-width: 72.5%;
}
#img4_5{
    position: absolute;
    left: 28.5%;
    top: 38.5%;
    max-width: 79.5%;
}
#chooselaptop{
    position: absolute;
    top: 43.8%;
    bottom: 48.5%;
    left: 3.5%;
    right: 49%;
}
#want{
    position: absolute;
    top: 53.6%;
    left: 3.5%;
    right: 49%;
    max-width: 52%;
}
#img4_3{
    max-width: 100%;
}
#img4_4{
    max-width: 100%;
}
#img5_1{
    position: absolute;
    top: 14.5%;
    left: -21%;
    max-width: 60%;
}
#img5_2{
    position: absolute;
    top: 14.5%;
    left: 41%;
    max-width: 55%;
}
#img5_3{
    position: absolute;
    top: 38.8%;
    left: 40.3%;
    max-width: 50%;
}
#choose2in1{
    position: absolute;
    top: 70.5%;
    left: 46%;
    right: 19.5%;
    max-width: 80%;
}
#img5_4{
    max-width: 100%;
}
#img6_1{
    position: absolute;
    left: 3.8%;
    top: 6.5%;
    max-width: 91%;
}
#img6_2{
    position: absolute;
    top: 17%;
    left: -4%;
    max-width: 37%;
}
#img6_3{
    position: absolute;
    left: 33.5%;
    top: 26.8%;
    max-width: 63.5%;
}
#img6_4{
    max-width: 100%;
}
#img6_5{
    position: absolute;
    top: 63.8%;
    left: 3.5%;
    max-width: 55%;
}
#img6_6{
    max-width: 100%;
}
#img6_7{
    position: absolute;
    top: 54%;
    left: 54%;
    max-width: 44%;
}
#choosedesktop{
    position: absolute;
    top: 39.5%;
    bottom: 52%;
    left: 36.2%;
    right: 23.5%;
}
#allinone{
    position: absolute;
    top: 77%;
    bottom: 14%;
    left: 3.2%;
    right: 52.5%;
}
#img7_1 {
    position: absolute;
    top: 22.5%;
    left: 5.5%;
    max-width: 74.8%;
}
#img9_1{
    position: absolute;
    top: 23%;
    left: 5%;
    max-width: 54%;
}
.arrow{
    position: absolute;
    max-width: 3.5%!important;    
}
.line{
    position: absolute;
    left: 3.5%;
    max-width: 93%;
}

div#img8_4_4 {
    bottom: 2%;
}

div#img8_3_4 {
    bottom: 6%;
}

div#img8_2_6 {
    bottom: 3%;
}

#img8_1_4 {
    bottom: 0%;
}
#img8_1_1{
    position: absolute;
    top: 14.5%;
    left: 3.5%;
    max-width: 27.5%;
}
#img8_1_2_1{
    top: 65%;
    left: 11.5%;
}
#img8_1_2_2{
    position: absolute;
    top: 67.5%;
    left: 16.5%;
    max-width: 8%;
}
#img8_1_3{
    position: absolute;
    top: 14%;
    left: 32.5%;
    max-width: 63.8%;
}
#img8_2_1{
    position: absolute;
    top: 9%;
    left: 3.5%;
    width: 57.2%;
}
#img8_2_2_1{
    top: 63%;
    left: 2.5%;
}
#img8_2_2_2{
    position: absolute;
    top: 64.5%;
    left: 7.5%;
    width: 8.2%;
}
#img8_2_2_3{
    position: absolute;
    top: 64.5%;
    left: 19%;
    width: 8.2%;
}
#img8_2_2_4_1{
    position: absolute;
    top: 64.5%;
    left: 28.2%;
    max-width: 8.2%;
}
#img8_2_2_4_2{
    position: absolute;
    top: 64.5%;
    left: 36.3%;
    max-width: 8.2%;
}
#img8_2_2_4_3{
    position: absolute;
    top: 64.5%;
    left: 44.4%;
    max-width: 8.2%;
}
#img8_2_5{
    position: absolute;
    top: 17%;
    left: 51.5%;
    max-width: 46%;
}
#img8_3_1{
    position: absolute;
    top: 8%;
    left: 0%;
    max-width: 50%;
}
#img8_3_2{
    position: absolute;
    top: 11%;
    left: 43%;
    max-width: 52.5%;
}
#img8_3_3_1 {
    top: 60%;
    left: 36%;
}
#img8_3_3_2{
    position: absolute;    
    top: 62%;    
    left: 53.5%;    
    max-width: 8.5%;
}
#img8_3_3_2_1{
    position: absolute;    
    top: 62%;    
    left: 41%;    
    max-width: 8.5%;
}

#img8_3_3_3{
    position: absolute;
    top: 62%;
    left: 65%;
    max-width: 8.5%;
}
#img8_3_3_4_1{
    position: absolute;
    top: 62%;
    left: 74%;
    max-width: 8.5%;
}
#img8_3_3_4_2{
    position: absolute;
    top: 62%;
    left: 82%;
    max-width: 8.5%;
}
#img8_3_3_4_3{
    position: absolute;
    top: 62%;
    left: 90.5%;
    max-width: 8.5%;
}

#img8_4_1{
    position: absolute;    
    top: 15%;    
    left: 3.5%;    
    max-width: 56%;
}
#img8_4_2_1{
    top: 63%;    
    left: 2.5%;    
}
#img8_4_2_2{
    position: absolute;    
    top: 65%;    
    left: 7%;    
    max-width: 8.5%;
}
#img8_4_2_3{
    position: absolute;
    top: 65%;
    left: 18.7%;
    max-width: 8.5%;
}
#img8_4_2_4_1{
    position: absolute;
    top: 65%;
    left: 28%;
    max-width: 8.5%;
}
#img8_4_2_4_2{
    position: absolute;
    top: 65%;
    left: 36%;
    max-width: 8.5%;
}
#img8_4_2_4_3{
    position: absolute;
    top: 65%;
    left: 44.5%;
    max-width: 8.5%;
}
#img8_4_3{
    position: absolute;
    top: 11%;
    left: 62%;
    max-width: 37%;
}

#img8_5_1{
    position: absolute;
    top: 13%;

    left: 37%;
    max-width: 60.5%;
}
#img8_5_2_1{
    top: 64%;
    left: 36%;
}
#img8_5_2_2{
    position: absolute;    
    top: 66.5%;    
    left: 41%;    
    max-width: 8%;
}
#img8_5_2_3{
    position: absolute;
    top: 66.5%;
    left: 52.5%;
    max-width: 8%;
}
#img8_5_2_4_1{
    position: absolute;
    top: 66.5%;
    left: 61.7%;
    max-width: 8%;
}
#img8_5_2_4_2{
    position: absolute;
    top: 66.5%;
    left: 69.7%;
    max-width: 8.3%;
}
#img8_5_2_4_3{
    position: absolute;
    top: 66.5%;
    left: 78%;
    max-width: 8%;
}
#img8_5_3{
    position: absolute;
    top: 16%;
    left: 3%;
    max-width: 32%;
}

#img10_1{
   position: absolute;  
   top: 2.5%;  
   left: 4.5%;  
   max-width: 61.5%;
}
#img10_2_1{
  position: absolute;
  top: 6.9%;
  left: 3.5%;
  max-width: 94.5%;
}
#img10_2_2{
   position: absolute;  
   top: 20.6%;  
   left: 3.5%;s  
   max-width: 87.5%;
   max-width: 87.5%;
}
#img10_2_3{
  position: absolute;
  top: 34.8%;
  left: 3.5%;
  max-width: 85.5%;
}
#img10_2_4{
  top: 44%;
}
#img10_3{
  position: absolute;
  top: 48.4%;
  left: 3%;
  max-width: 66.6%;
}
#img10_4_2{
position: absolute;
  
top: 53%;
  
left: 3.5%;
  
max-width: 87%;
}
#img10_4_1{
  position: absolute;
  top: 63.7%;
  left: 3.5%;
  max-width: 83.7%;
}
#img10_4_3{
  top: 73%;
}
#img10_5{
position: absolute;
  
top: 77.5%;
  
left: 3%;
  
max-width: 54%;   
z-index: 0;
}
#img10_6_2{
  position: absolute;
  top: 84.5%;
  left: 3.5%;
  max-width: 86.2%;
  z-index: 0;
}
#closebtn{
position: absolute; 
top: 78.1%; 
left: 92.2%; 
z-index: 2;
display: none;
}
#lega{
  position: absolute;
  top: 96.1%;
  left: 3.5%;
}
#meetbox{
  position: absolute;
  top: 77.2%;
  left: 2%;
  max-width: 96%;
  z-index: 1;
  display: none;
}
#img10_6_3{
  max-width: 50%;
}
#close{
  max-width: 52%;
}

#fallback{
    max-width: 35%;
}
.openninghide{
    opacity:0;
    display: none;
}